ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

input[type=text], input[type=date], input[type=email],
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.orderForm {
    margin-top: 3em;
    width: 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.tourTypeForm {
    margin-top: 1em;
    margin-left: 0.1em;
    margin-bottom: 0.5em;
    display: inline-block;
    width: 52%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
}

.tourTypeForm select {
    width: 30%;
    padding: 0.5em 20px;
    margin: 0.5em 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tourTypeForm input[type=submit] {
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.showAllForm {
    margin-top: 1em;
    margin-right: 0.1em;
    margin-bottom: 0.5em;
    float: right;
    display: inline-block;
    width: 20%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
}

.showAllForm input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.showAddTourForm {
    margin-top: 0;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    float: right;
    display: inline-block;
    width: 20%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3px;
}

.showAddTourForm input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
